html {
    height: 100%;
    background: linear-gradient(#aaa, #fff) repeat-x bottom left white;

}

body {
    margin: 0;


    #inner {
        width: 50em;
        margin: 0 auto;
        font-family: Verdana, sans-serif;
        background: white;
        padding: 2em;
        box-shadow: black;
    }
}

p {
    line-height: 175%;
    text-align: justify;
}

a {
    color: blue;
    text-decoration: underline;
}

nav {
    background: #aaa
}

nav ul {
    list-style: none;
    padding: 0px 0px;
    margin-left: 1em;
    border-left: 2px solid white;

    li {
        display: inline;
        border-right: 2px solid white;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 0 1em;
    }

    a:hover {
        text-decoration: underline;
    }
}

footer {
    background: #f2f2f2;
    padding: 2px 2px;
    font-size: .7em;
    text-align: center;
}

#header-title {
    font-weight: bolder;
    font-family: serif;
    color: rgb(44, 107, 255);
    font-size: 3em;
}

h1 {
    font-size: 2.25em;
    margin-bottom: 0.2em;
    font-family: serif;
}

.highlight {
    background: #fbfbfb;
    outline: 1px solid gray;
}

#_list {
    #list {
        li {
            .item {
                font-size: large;
            }

            .date {
                font-family: serif;
                font-weight: 100;
                font-size: smaller;
            }

            list-style: none;
            margin-bottom: 0.25em;
        }
    }
}

#_single {
    .date {
        font-family: serif;
        font-weight: 100;
    }

    #return {
        text-align: right;
        margin: 1em 0;
    }
}

.tags {
    font-size: smaller;
    margin-top: 0.5em;
}

.tag {
    background-color: lightgray;
    margin: 0 0.25em;
    padding: 0.15em 0.45em;
    border-radius: 1em;
}