html {
    height: 100%;
    background: linear-gradient(#a0b9ff, #faf7fd) repeat-x bottom left #faf7fd;
}

body {
    font-family: sans-serif;
    
    margin: 1em auto;
    border: 1px solid black;
    background-color: #fdfbff;
    max-width: 960px;

    #inner {
        margin: 10px 25px;
    }
}

a {
    color: blue;
    text-decoration: underline;
}

#header-title {
    font-weight: bolder;
    font-family: serif;
    color: #657ec2;
    font-size: 2.85em;
    margin: 0;
}

h1 {
    font-size: 2.25em;
    margin-bottom: 0.2em;
    font-family: serif;
}

h2 {
    margin-bottom: 0.5em !important;
}

.desc {
    margin-left: 1em;
}

hr {
    border: 1px solid #a0b9ff;
}

footer {
    p {
        margin: 0.5em;
    }
    padding: 10px 0;
    text-align: center;
}

#_list {
    #list {
        li {
            .item {
                font-size: large;
            }

            .date {
                font-family: serif;
                font-weight: 100;
                font-size: smaller;
            }

            list-style: none;
            margin-bottom: 0.25em;
        }
    }
}

#_single {
    .date {
        font-family: serif;
        font-weight: 100;
    }

    #return {
        text-align: right;
        margin: 1em 0;
    }

    font-size: 95%;

    .highlight {
        background: #fbfbfb;
        outline: 1px solid gray;
    }
}


nav {
    background: linear-gradient(#657ec2, #a0b9ff) repeat-x bottom left #a0b9ff;
    ul {
        list-style: none;
        padding: 2px 0px;
        margin-left: 1em;

        li {
            display: inline;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 0 1em;
        }

        a:hover {
            text-decoration: underline;
        }

        li.active a {
            text-decoration: underline;
        }
    }
}
/*
@media (prefers-color-scheme: dark) {
    html {
        background: linear-gradient(#0f0f0f, #313131) repeat-x bottom left white;
    }

    body {
        background-color: #313131;

        #inner {
            background: #494949;
            box-shadow: black;
            color: rgb(223, 223, 223);
        }
    }

    a {
        color: rgb(58, 191, 252);
    }

    nav {
        background: #0f0f0f;
    }

    nav ul {
        border-left-color: rgb(223, 223, 223);

        li {
            border-right-color: rgb(223, 223, 223);
        }

        a {
            color: rgb(223, 223, 223);
        }
    }

    footer {
        background: #f2f2f2;
    }

    #header-title {
        color: rgb(58, 191, 252);
    }

    .highlight {
        background: #fbfbfb;
        outline-color: gray;
    }

    .tag {
        background-color: lightgray;
    }
}
*/