{{ define "main" }}
<div id="_list">
    <a href="/files">
        <h1>Files</h1>
    </a>
    <ul id="list">
        {{ range (.Pages).ByDate.Reverse }}
        <li>
            <div class="item">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="date">/{{ .Date.Format "Jan 02, 2006" }}</span>
                {{ with .Params.desc }}
                <br /> <small class="desc">{{ . }}</small>
                {{ end }}
            </div>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}