<meta charset="utf-8">

<title>
    {{ if .IsHome }}
    {{ .Site.Title }}
    {{ else }}
    {{ .Title }} | {{ .Site.Title }}
    {{ end }}
</title>

{{ $style := resources.Get "sass/main.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<link rel="stylesheet" href="/css/onesenterprise.css" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="/css/dracula.css" media="(prefers-color-scheme: dark)">

{{ if .Params.math }}
{{ partial "katex.html" . }}
{{ end }}